<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>What's my SteamID?</title>
  <link rel="stylesheet" href="style.css">
  <link rel="icon" href="/favicon.ico?v=1.1"> 
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
</head>
<body>
  <div class="content">
    <div>
      {% block content %}{% endblock %}
      <a href="/login" class="steambutton"><span>Login With Steam</span>
        <img src="steamlogo.svg" class="icon"/>
      </a>
    </div>
  </div>

  <footer>
    <p>We are not affiliated with Valve. All trademarks and registered trademarks are the property of their respective owners.</p>
  </footer>
</body>
</html>
